{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2> l' auteur est
        <h2>{{ article.author.name }}</h2>
        <div class="metadata">
            Ecrit le {{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('H:i')}}
        </div>
    </article>
{% endblock %}
